[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = https://github.com/yihui/hugo-ivy.git
[submodule "themes/hugo-renga"]
	path = themes/hugo-renga
	url = https://github.com/nanxstats/hugo-renga.git
